body {
  margin: 40px;
  display: flex;
  flex-direction: column;
  /* Cho phép nội dung sắp xếp theo chiều dọc */
  align-items: stretch;
  
}

#app {

  display: flex;
  flex-direction: column;
  /* Đảm bảo nội dung kéo dài theo chiều dọc */
  justify-content: flex-start;
  /* Nội dung bắt đầu từ trên xuống */
  text-align: left;
  /* Tránh căn giữa toàn bộ nội dung */
  background-color: #000000;
}

.home {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}